<%- include('partials/header'); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Tropical twist</h4>
        <p>Peach, Pinapple, Apple</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Protein Packer</h4>
        <p>Oats, Peanut butter, Milk</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Tropical twist</h4>
        <p>Peach, Pinapple, Apple</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Protein Packer</h4>
        <p>Oats, Peanut butter, Milk</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Banana Boost</h4>
        <p>Banana, vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Tropical twist</h4>
        <p>Peach, Pinapple, Apple</p>
    </li>
    <li class="recipe">
        <img src="/glotec.png" alt="" class="smoothie" />
        <h4>Protein Packer</h4>
        <p>Oats, Peanut butter, Milk</p>
    </li>
</ul>

<%- include('partials/header'); -%>